
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Transfer</h3>
                    <form [formGroup]="transactionForm" class="requires-validation" novalidate (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-lg-6">
                        <app-input type="number" name="amount" placeholder=" Enter Amount" [control]="abs(transactionForm.get('amount'))"></app-input>

                            </div>
                            <div class="col-lg-6">
                              <span class="text-success">  {{ convertRates(from, to) | currency : transactionForm.value.currencyTo.length === 3 ? transactionForm.value.currencyTo : 'USD' }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <app-dropwdown [isDropDownObj]="true" placeholder="Select a currency" (selectCurrencyOutput)="receiveSelectedOutput(fromEventVar=$event, toEventVar)" [dropdownObj]="currencyRates" [control]="abs(transactionForm.get('currencyFrom'))"></app-dropwdown>

                            </div>
                          
                            <div class="col-lg-6">
                                <app-dropwdown [isDropDownObj]="true" placeholder="Select a currency" (selectCurrencyOutput)="receiveSelectedOutput(fromEventVar, $event)" [dropdownObj]="currencyRates" [control]="abs(transactionForm.get('currencyTo'))"></app-dropwdown>
                            </div>
                        </div>
                        <app-dropwdown displayName="displayName" id="userId" placeholder="Select user" [dropdowns]="users" [control]="abs(transactionForm.get('to'))"></app-dropwdown>
          
                       <app-button type="submit">
                        Transfer
                    </app-button>
                    </form>
                </div>
            </div>
        </div>
