<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Sign In</h3>
                    <form [formGroup]="userForm" class="requires-validation" novalidate (ngSubmit)="submit(userForm.value)">

                        <app-input type="email" name="email" placeholder="E-mail Address" [control]="abs(userForm.get('email'))"></app-input>

                        <app-input type="password" name="password" placeholder="Password" [control]="abs(userForm.get('password'))"></app-input>
          
                       <app-button type="submit">
                        SignIn
                    </app-button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>